.DS_Store
bin/
.classpath
.project
.settings
.directory
.metadata

target/
build/
dist/
nbproject/private/
catalog.xml
tmp/
seq/
*.xml\~
nbactions.xml
*.dsc
*.tar.gz
*.deb
*.build
*.changes
*.upload
*.log

*.debhelper.log
*.substvars
**/debian/stamp-makefile-build
*.postinst.debhelper
*.preinst.debhelper
*.prerm.debhelper

*.iml
*.ipr
*.iws
.idea/
